<div>
  <div class="row">
    <div class="col align-self-center text-center" style="margin-top:10%;">
      <h1>{{ "CHOOSE_A_ROBOT" | translate }}</h1>
      <h3>{{ "SELECT_ROBOT_START_PROJECT" | translate }}</h3>
    </div>
  </div>
  <div class="row robot-row">
    <div class="col col-md-auto col-sm-6 text-center zoomed" *ngFor="let robot of appState.availableRobotTypes$ | async"
      (click)="onRobotSelected(robot)">
      <button class="btn shadow-sm btn-primary robot-button"
        [ngClass]="{'selected': (appState.selectedRobotType$ | async) === robot}" (click)="onRobotSelected(robot)">
        <img class="imgcenter" src="./assets/{{robot.svgname}}">
      </button>
      <p class="robot-name">{{robot.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center text-center">
      <button mat-stroked-button (click)="onRobotSelected(appState.genericRobotType)">
        <mat-icon>editor</mat-icon><span>{{ "DIRECT_TO_CODE_EDITOR" | translate }}</span>
      </button>
    </div>
  </div>
  <div class="watermark-container">
    <img class="mx-auto d-block watermark" src="./assets/leaphy.svg">
  </div>
</div>