.robot-name {
  margin-top: 10px;
}

.robot-button {
  background-color: #ffffff;
  border: solid 1px #f1f1f1;
  width: 180px !important;
  height: 180px !important;

  &:hover,
  &:active {
    background-color: #ffffff !important;
    border: 3px solid var(--leaphy-color-primary) !important;
  }
}

.zoomed {
  transition: transform 0.1s;
}

.zoomed:hover {
  transform: scale(1.03);
}

.robot-row {
  margin-top: 50px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

.watermark-container {
  margin: 50px 0;
}

.watermark {
  width: 300px;
  height: auto;
}

[mat-stroked-button] {
  font-size: 12px;
  font-weight: normal;
  border-radius: 20px;

  mat-icon {
   height: 20px;
   font-size: 18px;
  }
}
