<mat-toolbar class="shadow-sm" style="background-color:#003a96" id="header-container">
  <span><h2 style="font-family: 'Maven Pro'; font-weight: bolder; color:white; font-size:2.1rem;">EASYBLOQS</h2></span>
  <div>
    <a class="header-text ml-1" [matMenuTriggerFor]="projectMenu" *ngIf="appState.selectedRobotType$ | async">{{ 'PROJECT' | translate }}</a>
    <a class="header-text ml-3" [matMenuTriggerFor]="helpMenu" *ngIf="appState.selectedRobotType$ | async">{{ 'HELP' | translate }}</a>
  </div>


  <div class="centered-div" *ngIf="appState.selectedRobotType$ | async">
    <button class="btn btn-outline-primary rounded-pill workspace-button" (click)="onSaveWorkspaceClicked()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="btn btn-outline-primary rounded-pill workspace-button" (click)="onUndoClicked()">
      <mat-icon>undo</mat-icon>
    </button>
    <button class="btn btn-outline-primary rounded-pill workspace-button"  (click)="onRedoClicked()">
      <mat-icon>redo</mat-icon>
    </button>
  </div>

  <button class="btn btn-outline-primary rounded-pill upload-button float-right mr-1"  [class.spinner]="isBackEndBusy$ | async" *ngIf="appState.selectedRobotType$ | async"
          (click)="onUploadClicked()" [disabled]="!(canUpload$ | async)">{{ 'UPLOAD' | translate }}</button>
</mat-toolbar>

<mat-menu #projectMenu="matMenu" class="matmenus">
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onNewProjectClicked()">
    <mat-icon>insert_drive_file</mat-icon>
    <span>{{ 'NEW' | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onLoadWorkspaceClicked()">
    <mat-icon>folder</mat-icon>
    <span>{{ 'OPEN' | translate }}</span>
  </button>
  <span mat-menu-item disabled *ngIf="blocklyState.projectName$ | async as projectName">{{projectName}}</span>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async) || !(blocklyState.projectFilePath$ | async)"
    (click)="onSaveWorkspaceClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVE' | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onSaveWorkspaceAsClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVEAS' | translate }}</span>
  </button>
</mat-menu>

<mat-menu #helpMenu="matMenu" class="matmenus">
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onHelpClicked()">
    <mat-icon>help_center</mat-icon>
    <span>{{ 'HELP_FORUM' | translate }}</span>
  </button>
</mat-menu>
