<mat-toolbar color="primary" id="header-container">
  <span id="title">Easybloqs</span>

  <button mat-raised-button [matMenuTriggerFor]="menu" *ngIf="appState.selectedRobotType$ | async">
    Project
  </button>

  <span class="spacer"></span>
  <button mat-raised-button [class.spinner]="isBackEndBusy$ | async" *ngIf="appState.selectedRobotType$ | async" (click)="onUploadClicked()"
    [disabled]="!(canUpload$ | async)">Upload</button>
  <img src="./assets/leaphy-logo-white.png" id="logo">

</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onLoadWorkspaceClicked()">
    <mat-icon>folder</mat-icon>
    <span>{{ 'OPEN' | translate }}</span>
  </button>
  <span mat-menu-item disabled *ngIf="blocklyState.projectName$ | async as projectName">{{projectName}}</span>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async) || !(blocklyState.projectFilePath$ | async)"
    (click)="onSaveWorkspaceClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVE' | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onSaveWorkspaceAsClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVEAS' | translate }}</span>
  </button>
  <span mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)">
    <mat-checkbox (change)="onShowLeaphyExtraToggled()"><span>{{ 'SHOWLEAPHYEXTRA' | translate }}</span></mat-checkbox>
  </span>
</mat-menu>