#logo {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
#title {
    font-size: 2.4rem;
    margin-right: 10px;

}
.spacer {
    flex: 1 1 auto;
}
.button-icon-text {
    font-size: x-large;
}
