<mat-toolbar class="shadow-sm" style="background-color:white" id="header-container">
  <span id="title"><img class="helper-block" src="./assets/logo.svg"></span>
  <div>
    <a class="header-text ml-1" [matMenuTriggerFor]="menu" *ngIf="appState.selectedRobotType$ | async">Project</a>
    <a class="header-text ml-3"  *ngIf="appState.selectedRobotType$ | async" (click)="onHelpClicked()">Help</a>
  </div>

  <div class="centered-div" *ngIf="appState.selectedRobotType$ | async">
    <button mat-icon-button (click)="onSaveWorkspaceClicked()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="onUndoClicked()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button (click)="onRedoClicked()">
      <mat-icon>redo</mat-icon>
    </button>
  </div>

  <button class="btn btn-outline-primary rounded-pill upload-button float-right mr-1"  [class.spinner]="isBackEndBusy$ | async" *ngIf="appState.selectedRobotType$ | async"
          (click)="onUploadClicked()" [disabled]="!(canUpload$ | async)">Upload</button>
</mat-toolbar>

<mat-menu #menu="matMenu" class="matmenus">
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onNewProjectClicked()">
    <mat-icon>insert_drive_file</mat-icon>
    <span>{{ 'NEW' | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onLoadWorkspaceClicked()">
    <mat-icon>folder</mat-icon>
    <span>{{ 'OPEN' | translate }}</span>
  </button>
  <span mat-menu-item disabled *ngIf="blocklyState.projectName$ | async as projectName">{{projectName}}</span>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async) || !(blocklyState.projectFilePath$ | async)"
          (click)="onSaveWorkspaceClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVE' | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)" (click)="onSaveWorkspaceAsClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ 'SAVEAS' | translate }}</span>
  </button>
  <span mat-menu-item [disabled]="!(appState.selectedRobotType$ | async)">
    <mat-checkbox (change)="onShowLeaphyExtraToggled()"><span>{{ 'SHOWLEAPHYEXTRA' | translate }}</span></mat-checkbox>
  </span>
</mat-menu>

