<div id="container">
    <div id="header">
        {{ "SERIAL_OUTPUT" | translate}}
        <div id="button-container">
            <button mat-stroked-button class="icon-button" [class.mode-selected]="(dialogState.isSerialGraphOutputSelected$ | async) === false"
                (click)="onViewTextOutputClicked()">
                <mat-icon>view_headline</mat-icon>
            </button>
            <button mat-stroked-button class="icon-button" [disabled]="(robotWiredState.serialChartDataSets$ | async).length === 0" [class.mode-selected]="dialogState.isSerialGraphOutputSelected$ | async"
                (click)="onViewGraphOutputClicked()">
                <mat-icon>timeline</mat-icon>
            </button>
            <button mat-stroked-button class="icon-button" (click)="onClearSerialDataClicked()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <div class="serial-output" style="display: block;" [hidden]="(dialogState.isSerialGraphOutputSelected$ | async) === false">
        <canvas baseChart [datasets]="robotWiredState.serialChartDataSets$ | async" [options]="lineChartOptions"
            [legend]="lineChartLegend" [type]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
    <div class="serial-output" [hidden]="dialogState.isSerialGraphOutputSelected$ | async"  #content>
        <div class="output-item" *ngFor="let item of (robotWiredState.serialData$ | async)" #messages>
            <div class="output-time">{{item.time | date:'HH:mm:ss:SSS'}}</div>
            <div class="output-data">{{item.data}}</div>
        </div>
    </div>
</div>