<div id="container">
    <button mat-fab id="sidenav-button" (click)="onSideNavClicked()">
        <mat-icon>code</mat-icon>
    </button>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
            <div class="app-ace-editor" #editor></div>
        </mat-sidenav-content>
        <mat-sidenav id="sidenav" mode="side" [opened]="blocklyState.isSideNavOpen$ | async" position="end">
            <app-serial-window></app-serial-window>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
