.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%
}

#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 64px);
  width: 100%;
  overflow: hidden;
}

.sidenav-container {
  flex: 1 1 auto;
  background: #eee;
}

#sidenav {
  min-width: 20%;
}

app-button-bar {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}