<mat-toolbar class="shadow-sm header-container" id="header-container">
  <img src="./assets/leaphy-logo.svg" class="header-logo" />
  <div class="flex-header">
    <div class="flex-buttons">
      <button mat-stroked-button [matMenuTriggerFor]="projectMenu" *ngIf="appState.selectedRobotType$ | async">
        {{ "PROJECT" | translate }}
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="helpMenu" *ngIf="appState.selectedRobotType$ | async">
        {{ "HELP" | translate }}
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="moreMenu" *ngIf="appState.selectedRobotType$ | async">
        {{ "MORE" | translate }}
      </button>
    </div>

    <div class="flex-buttons" *ngIf="appState.selectedRobotType$ | async">
      <button mat-stroked-button class="icon-button" (click)="onUndoClicked()">
        <mat-icon>undo</mat-icon>
      </button>

      <button mat-stroked-button class="icon-button" (click)="onRedoClicked()">
        <mat-icon>redo</mat-icon>
      </button>
    </div>

    <div class="flex-buttons" *ngIf="appState.selectedRobotType$ | async">
      <button mat-stroked-button [disabled]="(appState.canChangeCodeEditor$ | async) === false"  *ngIf="(appState.codeEditorType$ | async) === 1" (click)="onCodeEditorClicked()">
        <mat-icon>editor</mat-icon><span>{{ "CODE" | translate }}</span>
      </button>
      <button mat-stroked-button [disabled]="(appState.canChangeCodeEditor$ | async) === false" *ngIf="(appState.codeEditorType$ | async) === 2" (click)="onCodeEditorClicked()">
        <mat-icon id="block-icon" svgIcon="block"></mat-icon><span>{{ "BLOCKS" | translate }}</span>
      </button>
      <button mat-stroked-button (click)="onSaveWorkspaceClicked()">
        <mat-icon>save</mat-icon><span>{{ "SAVE" | translate }}</span>
      </button>
      <button mat-flat-button *ngIf="appState.selectedRobotType$ | async" (click)="onUploadClicked()"
        [disabled]="(canUpload$ | async) === false">
        {{ "UPLOAD" | translate }}
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #projectMenu="matMenu" class="matmenus">
  <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onNewProjectClicked()">
    <mat-icon>insert_drive_file</mat-icon>
    <span>{{ "NEW" | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onLoadWorkspaceClicked()">
    <mat-icon>folder</mat-icon>
    <span>{{ "OPEN" | translate }}</span>
  </button>
  <span mat-menu-item disabled *ngIf="blocklyState.projectName$ | async as projectName">{{ projectName }}</span>
  <button mat-menu-item [disabled]="
      (appState.selectedRobotType$ | async) === null ||
      (blocklyState.projectFilePath$ | async) === null
    " (click)="onSaveWorkspaceClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ "SAVE" | translate }}</span>
  </button>
  <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onSaveWorkspaceAsClicked()">
    <mat-icon>save</mat-icon>
    <span>{{ "SAVEAS" | translate }}</span>
  </button>
</mat-menu>

<mat-menu #helpMenu="matMenu" class="matmenus">
  <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onHelpClicked()">
    <mat-icon>help_center</mat-icon>
    <span>{{ "HELP_FORUM" | translate }}</span>
  </button>
</mat-menu>

<mat-menu #moreMenu="matMenu" class="matmenus">
  <button mat-menu-item (click)="onShowInfoClicked()">
    <mat-icon>help_center</mat-icon>
    <span>{{ "MORE_ABOUT" | translate }}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <span>{{ "LANGUAGE" | translate }}</span>
  </button>
  <button mat-menu-item (click)="onToggleSoundClicked()">
    <mat-icon *ngIf="(blocklyState.isSoundOn$ | async)">volume_off</mat-icon>
    <mat-icon *ngIf="(blocklyState.isSoundOn$ | async) === false">volume_up</mat-icon>
    <span *ngIf="(blocklyState.isSoundOn$ | async)">{{ "SOUND_OFF" | translate }}</span>
    <span *ngIf="(blocklyState.isSoundOn$ | async) === false">{{ "SOUND_ON" | translate }}</span>
  </button>
  <button mat-menu-item (click)="onViewLogClicked()">
    <mat-icon>article</mat-icon>
    <span>{{ "VIEW_LOG" | translate }}</span>
  </button>
  <button mat-menu-item (click)="onInstallDriverClicked()">
    <mat-icon>settings</mat-icon>
    <span>{{ "INSTALL_DRIVER" | translate }}</span>
  </button>
  <button mat-menu-item (click)="onClearLibrariesClicked()">
    <mat-icon>settings_backup_restore</mat-icon>
    <span>{{ "CLEAR_LIBS" | translate }}</span>
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu" class="matmenus">
  <button mat-menu-item *ngFor="let language of appState.availableLanguages$ | async" [value]="language"
    (click)="onLanguageChanged(language)">
    <span [class.selected]="language.code === (appState.currentLanguage$ | async)?.code">{{language.name}}</span>
  </button>
</mat-menu>