.sidenav-buttons {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;

    & > button {
        margin-bottom: 40px;
        outline: none;
        background-color: var(--leaphy-color-primary);

        &.active {
            border: 3px solid var(--leaphy-color-light) !important;
            background: red !important;
        }
    }
}