<div class="sidenav-buttons">
  <button mat-fab [ngStyle]="{'active': (appState.codeEditor$ | async) === 1}" (click)="onBlocklyEditorClicked()">
    <mat-icon>code</mat-icon>
  </button>

  <button mat-fab [ngStyle]="{'active': (appState.codeEditor$ | async) === 2}" (click)="onCodeEditorClicked()">
    <mat-icon>editor</mat-icon>
  </button>

  <button mat-fab (click)="onShowSerialOutputClicked()">
    <mat-icon>article</mat-icon>
  </button>

  <button mat-fab (click)="onShowInfoClicked()">
    <mat-icon>info</mat-icon>
  </button>
</div>
<app-serial-window
  *ngIf="dialogState.isSerialOutputWindowOpen$ | async"
></app-serial-window>
