<div class="sidenav-buttons">
  <button mat-fab [attr.data-label]="'READ_CODE' | translate" 
    [ngClass]="{'active': (appState.codeEditorType$ | async) === 1 && (blocklyState.isSideNavOpen$ | async)}" 
    (click)="onSideNavToggled()" [disabled]="(appState.codeEditorType$ | async) !== 1">
    <mat-icon>code</mat-icon>
  </button>

  <button mat-fab [attr.data-label]="'SHOW_ON_SCREEN' | translate"  (click)="onShowSerialOutputClicked()" [disabled]="!(robotWiredState.serialData$ | async)?.length">
    <mat-icon>article</mat-icon>
  </button>

</div>
<app-serial-window
  *ngIf="dialogState.isSerialOutputWindowOpen$ | async"
></app-serial-window>
