#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 64px);
}
.example-container {
  flex: 1 1 auto;
  background: #eee;
}
#sidenav {
  min-width: 40%;
}

#code-view-button {
  position: absolute;
  top: 150px;
  right: -23px;
  z-index: 2;
  transition: right 0.5s;
  overflow: clip;
}

#code-view-button:hover {
  right: 10px;
}
