#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 64px);
}
.example-container {
  flex: 1 1 auto;
  background: #eee;
}
#sidenav {
  min-width: 40%;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
