#container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100% - 64px);
  width: 100%;
  overflow: hidden;
}
.sidenav-container {
  flex: 1 1 auto;
  background: #eee;
}
#sidenav {
  min-width: 40%;
}

#sidenav-button {
  outline: none;
  background-color: var(--leaphy-color-primary);
  position: absolute;
  top: 74px;
  right: 10px;
  z-index: 2;
  transition: right 0.5s;
  overflow: hidden;
}

