<div id="container">
    <mat-sidenav-container class="example-container">
        <mat-sidenav-content>
            <div id="blocklyDiv" style="width: 100%; height: 100%"></div>
            <xml id="toolbox" style="display: none">
                <category name="Control" colour="120">
                    <block type="controls_if"></block>
                    <block type="controls_repeat_ext" disabled="true"></block>
                </category>
                <category name="Text" colour="230">
                    <block type="text"></block>
                    <block type="text_print"></block>
                </category>
                <category name="Custom" colour="360">
                    <block type="begin"></block>
                    <block type="move"></block>
                    <block type="end"></block>
                </category>
            </xml>
        </mat-sidenav-content>
        <mat-sidenav id="sidenav" mode="side" opened position="end">Sidenav content bigger</mat-sidenav>
    </mat-sidenav-container>
</div>