.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#header {
  margin-top: 20px;
  margin-bottom: 20px;
}
#leaphyLogo {
  width: 400px;
}
#credits {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#namesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#roles {
  flex: 0 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.role {
  flex: 0 1 auto;
}
#names {
  flex: 0 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
.name {
  flex: 0 1 auto;
}

.credits {
  color: grey;
  margin-top: 20px;
  padding: 20px;
  text-align: center;

  img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 2em auto;
  }

  .leaphyLogo {
    color: green;
  }
}

.buttons {
  margin-top: 2em;
  flex: 0 1 auto;
}

[mat-flat-button] {
  color: var(--leaphy-color-light);
  background-color: var(--leaphy-color-secundary);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;

  [mat-flat-button]:active {
    color: var(--leaphy-color-light);
  }
}
