.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header {
    margin-top: 20px;
    margin-bottom: 20px;
}
#leaphyLogo {
    width: 400px;
}
#credits{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#namesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#roles{
    flex: 0 1 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-right:10px;
}
.role {
    flex: 0 1 auto;
}
#names{
    flex: 0 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left:10px;
}
.name {
    flex: 0 1 auto;
}

#thankYous{
    margin-top: 20px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thankYou{
    flex: 0 1 auto;
}
#sponsorImages {
    margin-top: 10px;
    flex: 0 1 auto;
}
#contributeLogo {
    width: 200px;
}
#buttons{
    margin-top: 20px;
    flex: 0 1 auto;
}