.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#instructions {
    font-size: small;
    padding: 5px;
    background-color: #DBE3F3;
    white-space: pre-wrap;
}
