.info {
  text-align: center;
}

.version {
  text-align: end;
  p {
    margin-bottom: 0px;
    font-size: small;
    color: var(--leaphy-color-secundary);
  }  
}

img {
  width: 100%;
  max-width: 180px;
  height: auto;
  display: block;
  margin: 1em auto;
}

.buttons {
  margin-top: 2em;
  flex: 0 1 auto;
}

[mat-flat-button] {
  color: var(--leaphy-color-light);
  background-color: var(--leaphy-color-secundary);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;

  [mat-flat-button]:active {
    color: var(--leaphy-color-light);
  }
}