<div #blockContent id="blocklyDiv" style="width: 100%; height: 100%">

    <div id="messages-window" *ngIf="(blocklyState.sketchStatus$ | async) > 1">
        <div id="message-content" *ngIf="blocklyState.sketchStatusMessage$ | async as message">
            {{message}}
        </div>
        <div id="spinner">
            <mat-progress-spinner mode="indeterminate" diameter="30">
            </mat-progress-spinner>
        </div>
    </div>

    <button mat-fab id="upload-button" (click)="onUploadClicked()"
        [disabled]="(blocklyState.sketchStatus$ | async) > 0 ">
        <mat-icon>cloud_upload</mat-icon>
    </button>

    <button mat-fab id="connect-button" [color]="'Color'+(backEndState.connectionStatus$ | async)">
        <mat-icon *ngIf="(backEndState.connectionStatus$ | async) == 4">check</mat-icon>
        <mat-icon *ngIf="(backEndState.connectionStatus$ | async) == 3">access_time</mat-icon>
        <mat-icon *ngIf="(backEndState.connectionStatus$ | async) == 2">sync</mat-icon>
        <mat-icon *ngIf="(backEndState.connectionStatus$ | async) == 1">link</mat-icon>
        <mat-icon *ngIf="(backEndState.connectionStatus$ | async) == 0">block</mat-icon>
    </button>


</div>