#upload-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#messages-window {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 160px;
    z-index: 1;
    min-width: 100px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid gainsboro;
}

#message-content {
    padding-left: 20px;
    flex: 1 1 auto;
    transition:flex 0.3s ease-out;
}

.button-icon-text {
    font-size: x-large;
}