<div #blockContent id="blockly-container">
    <ng-container *ngIf="blocklyState.sketchStatus$ | async as sketchStatus">
        <div id="messages-window" *ngIf="sketchStatus == 3 || (backEndState.connectionStatus$ | async) == 6">
            <div id="message-content" *ngIf="blocklyState.sketchStatusMessage$ | async as message">
                {{message}}
            </div>
        </div>
    </ng-container>
    
</div>
<div *ngIf="!(blocklyState.toolboxXml$ | async)" id="message-container">
    <div>{{ "NOROBOTMESSAGE" | translate }}</div>
</div>