#load-button {
    position: absolute;
    top: 10px;
    right: 220px;
    z-index: 1;
}

#save-button {
    position: absolute;
    top: 10px;
    right: 150px;
    z-index: 1;
}

#upload-button {
    position: absolute;
    top: 10px;
    right: 80px;
    z-index: 1;
}
#connect-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

#messages-window {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 160px;
    z-index: 1;
    min-width: 100px;
    height: 56px;
    border-radius: 28px;
    border: 1px solid gainsboro;
}

#spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 auto;
    width: 50px;
    padding-right: 10px;
}
#message-content {
    padding-left: 20px;
    flex: 1 1 auto;
    transition:flex 0.3s ease-out;
}

.mat-Color0 {
    background-color: darkgrey;
    color: #fff;
}
.mat-Color1 {
    background-color: yellow;
    color: black;
}
.mat-Color2 {
    background-color: blue($color: #000000);
    color: #fff;
}
.mat-Color3 {
    background-color: orange;
    color:black;
}
.mat-Color4 {
    background-color: lightgreen;
    color: #fff;
}
.button-icon-text {
    font-size: x-large;
}