<ng-container *ngIf="backEndState.connectionStatus$ | async as connectionStatus">
  <h1 mat-dialog-title>{{"CONNECT.WIRED.DIALOGTITLE" | translate }}</h1>
  <div mat-dialog-content class="container">
    <mat-select id="device-selector" [disabled]="connectionStatus == 5"
      placeholder="{{'CONNECT.WIRED.SELECTDEVICE'|translate}}" (selectionChange)="onDeviceSelectionChange($event)"
      [value]="robotWiredState.selectedSerialDevice$ | async">
      <mat-option *ngFor="let device of robotWiredState.serialDevices$ | async" [value]="device">
        {{device.protocol_label}} - {{device.address}}</mat-option>
    </mat-select>
    <mat-spinner *ngIf="connectionStatus == 5" diameter="20"></mat-spinner>
    <button [disabled]="connectionStatus == 5" mat-button (click)="onDetectRobotsClick()">
      {{"REFRESH"|translate}}
    </button>
  </div>
  <div class="container">
    <span id="no-device-message" *ngIf="connectionStatus == 3">{{"NODEVICEFOUND"|translate}}</span>
    <span id="no-device-message" *ngIf="connectionStatus != 3">{{"SELECTDEVICE"|translate}}</span>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onDoneClick()" [disabled]="connectionStatus == 5">{{"DONE"|translate}}</button>
  </div>
</ng-container>