<ng-container *ngIf="backEndState.connectionStatus$ | async as connectionStatus">
  <ng-container *ngIf="robotWiredState.serialDevices$ | async as serialDevices">
    <div class="container" id="instructions">{{"CONNECTIONINSTRUCTIONS"|translate}}</div>
    <div mat-dialog-content class="container">
      <mat-select id="device-selector" [disabled]="connectionStatus == 5"
        placeholder="{{'CONNECT.WIRED.SELECTDEVICE'|translate}}" (selectionChange)="onDeviceSelectionChange($event)"
        [value]="robotWiredState.selectedSerialDevice$ | async">
        <mat-option *ngFor="let device of serialDevices" [value]="device">
          {{device.address}}</mat-option>
      </mat-select>
      <mat-spinner *ngIf="connectionStatus == 5" diameter="20"></mat-spinner>
      <button [disabled]="connectionStatus == 5" mat-button (click)="onDetectRobotsClick()">
        {{"REFRESH"|translate}}
      </button>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onDoneClick()"
        [disabled]="connectionStatus == 5">{{"ACTIVATECONNECTION"|translate}}</button>
      <button mat-button (click)="onInstallUsbDriverClick()" *ngIf="false" [disabled]="connectionStatus == 5"
        #tooltip="matTooltip" matTooltip="{{'INSTALLUSBDRIVERTOOLTIP'|translate}}"
        matTooltipPosition="below">{{"INSTALLUSBDRIVER"|translate}}</button>
    </div>
  </ng-container>
</ng-container>