.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#device-selector {
    width: 300px;
    border: 1px solid black;
    margin-left: 10px;
}
#no-device-message {
    font-size: small;
}
.mat-dialog-actions {
    justify-content: center;
}
#instructions {
    font-size: small;
    padding: 5px;
    background-color: #DBE3F3;
    white-space: pre-wrap;
}
